@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Satoshi";
}
